@import '../../constants/constants';

.popup-overlay {
  background: transparent;
}

.popup-content {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid $bright-gray-color;
  box-shadow: 0 2px 16px 0 $gray-color;
  opacity: 1;
  padding: 16px;
  margin: 16px 16px auto 16px !important;
}