@import '../../constants/constants';

.no-results {
  height: 35vh;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $light-black-color;
}