@import '../../../constants/constants';

.results-list {
  background: $white-color;
  box-shadow: 0 1px 8px $gray-color;
  border-radius: 8px;
  padding: 16px;

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;

    &--name {
      font-weight: 400;
      font-size: 14px;
    }

    &--description {
      font-weight: 400;
      font-size: 12px;
      color: $light-black-color;
      margin-top: 2px;
    }

    &--common-info {
      display: flex;
      align-items: flex-start;
      gap: 8px;

      svg {
        margin-top: 3px;

        &:hover {
          cursor: default !important;
        }
      }
    }

    &--centered-info {
      align-items: center;

      svg {
        margin-top: 0;
      }
    }

    svg:first-of-type, img {
      width: 32px;
      height: 32px;
    }

    img {
      border-radius: 50%;
    }

    svg:last-of-type {
      width: auto;
      height: auto;
      border-radius: unset;
      margin-left: auto;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
}