{
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 150,
  "eslintIntegration": true,
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "always",
  "cssEnable": ["css", "less", "scss"],
  "javascriptEnable": ["javascript", "javascriptreact"],
  "jsonEnable": ["json"]
}
