@import '../../constants/constants';

.header {
  font-size: 16px;
  font-weight: 700;
  background: $white-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  &__big-text-size {
    font-size: 24px;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__additional-icons {
    display: flex;
    gap: 19px;
  }

  svg:hover {
    cursor: pointer;
  }
}